@import "variables.scss";
// We write all scss codes related to website content here



.app{
    width:100%;
    height:100vh;
    background:yellow;
    overflow:none;
    .app-header{
        width: 100%;
        height: 18vh;
        .app-dynamic-header{
            display:flex;
            justify-content:space-between;
            align-items:center;
            border:1px solid #606060;
            padding:8px 20px;
            border-radius:30px;
            background:#1F1F1F;
            .icon{
                font-size:24px;
                max-width:22px;
                color:#CCCCCC;
            }
            .title{
                font-size:18px!important;
                font-weight:500;
            }
            &.messageDetailPart{
                border-radius:40px;
                border:none;
                .phone{
                    color:#007EF4;
                }
                .title{
                    display:flex;
                    flex-direction:column;
                    align-items:center;
                    justify-content:center;
                    font-weight:400;
                    .name{
                        
                    }
                    .status{
                        color:#CCCCCC;
                        font-size:$f-size--1;
                        display:flex;
                        align-items:center;
                        justify-content:center;
                        .online-badge{
                            display:none;
                            &.active{
                                display:inline-block;
                                width:14px;
                                height:14px;
                                background-color:#007EF4;
                                position:relative;
                                border-radius:50%;
                                margin-right:5px;
                            }
                        }
                    }
                }
            }
        }

    }
    .app-users{
        display:flex;
        flex-direction:column;
        width:100%;
        height: 65vh;
        padding-bottom:41px;
        overflow-x: hidden;
        overflow-y: scroll;
        h2.title{
            font-size:$f-size--2;
            margin:20px 0px;
        }
        .app-user{
            display:flex;
            align-items:center;
            margin-bottom:15px;
            padding-bottom:15px;
            border-bottom:1px solid #606060;
            &:last-child{
                border-bottom:none;
                margin-bottom:10px;
                padding-bottom:0px;
            }
            .user-image{
                max-width:50px;
                margin-right:20px;
            }
            .user-detail{
                h3.user-name{
                    font-size:$f-size-4;
                    margin-bottom:5px;
                    font-weight:500;
                }
                p.user-message{
                    font-size:$f-size--2;
                    margin-bottom:0px;
                    color:#CCCCCC;
                }
            }
            .user-status{
                margin-left:auto;
                p.status-title{
                    margin-bottom:5px;
                    color:#CCCCCC;
                }
                .unread-shape{
                    display:none;
                }
            }
            &.unread-message{
                .unread-shape{
                    display:block;
                    &:before{
                        content:'';
                        width:14px;
                        height:14px;
                        background-color:#007EF4;
                        position:relative;
                        display:block;
                        border-radius:50%;

                    }
                }
            }
        }
    }
    .app-tabs{
        position:fixed;
        bottom:0px;
        left:0px;
        width:100%;
        background:#1f1f1f;
        text-align:center;
        height:12vh;
        .home-tab-list{
            display:flex;
            justify-content:space-between;
            margin-bottom:0px;
            list-style:none;
            li{
                padding: 20px 34px;
                color: #878787;
                font-size: 28px;
                &.active{
                    color:#007EF4;
                }
            }
        }
    }


    .app-chat-panel{
        padding:10px 0px;
        width:100%;
        height:82vh;
        position:relative;
        .user-messages{
            width:100%;
            height:80%;
            overflow-y: scroll;
            overflow-x: hidden;
            .user-message-outer{
                display:flex;
                margin-bottom:30px;
                .user-image{
                    max-width: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                }
                .user-message{
                    padding:20px 20px;
                    background:#303030;
                    p{
                        margin-bottom:10px;
                    }
                    .time-message{
                        display:block;
                    }
                }
                &.owner-not{
                    justify-content:left;
                    .user-message{
                        border-radius:30px 30px 30px 0px;
                        .time-message{
                            color:#CCCCCC;
                        }
                    }
                    .user-image{
                        margin-right:20px;
                    }
                }
                &.owner{
                    justify-content:right;
                    .user-image{
                        margin-left:20px;
                    }
                    .user-message{
                        border-radius:30px 30px 0px 30px;
                        background-image: linear-gradient(to right, #007EF4 , #2A75BC);
                        .time-message{
                            color:#ffffff;
                            text-align:right;
                        }
                    }
                }
            }
        }
        .user-chat-form{
            position:fixed;
            bottom:0px;
            left:0px;
            width:100%;
            text-align:center;
            padding:30px 5px;
            .form-inp{
                position:relative;
                width:100%;
                span.emoji-button{
                    position:absolute;
                    left:32px;
                    top:9px;
                    font-size:24px;
                    color:#CCCCCC;
                }
                span.camera-button{
                    position:absolute;
                    width:40px;
                    height:40px;
                    right:80px;
                    top:10px;
                    background-image: linear-gradient(to right, #007EF4 , #2A75BC);
                    display:flex;
                    align-items:center;
                    justify-content:center;
                    border-radius:50%;
                    font-size:24px;
                }
                span.voice-button{
                    position:absolute;
                    width:40px;
                    height:40px;
                    right:30px;
                    top:10px;
                    background-image: linear-gradient(to right, #007EF4 , #2A75BC);
                    display:flex;
                    align-items:center;
                    justify-content:center;
                    border-radius:50%;
                    font-size:24px;
                }
                input{
                    border-radius: 30px;
                    width: 95%;
                    padding: 15px 20px 15px 55px;
                    background: #2b2b2b;
                    border: 0;
                    color: #fff;
                    outline: 0;
                    &::placeholder{
                        color:#CCCCCC;
                        font-weight:400;
                    }
                }
            }
            
        }
    }
}
